
body {background-color: lightblue;
  font-family: Arial, sans-serif;}

h1 {text-align: center;
  color: purple;
  background-color: pink;
  font-size: 50px;}


img {width: 400px; 
     display: block; 
     margin:30px auto; 
     border:2px solid purple;}

p{font-size:18px;font-family:Arial,sans-serif;margin:20px;}

h2{font-family:Arial,sans-serif;}
h3{font-family:Arial,sans-serif;}

ul, li {font-family: Arial, sans-serif;font-size: 18px;}

h4{text-align:center;color:purple;font-size:20px;font-family:Aptos,sans-serif;}

h5{text-align:center;color:purple;font-size:30px;font-family:Aptos,sans-serif;}




